.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 70px;
  right: 0px;
  padding-left: 0px;
  height: 100%;
  width: 17%;
  /* color: #e1ffff; */
}

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffff;
}
.positive-change {
  /* border: "3px solid #6EC89B"; */
  background-color: #6ec89b;
  color: white;
  /* borderBlockColor: "#6EC89B" */
}

.negative-change {
  /* border: "3px solid magenta"; */
  background-color: #6ec89b;
  color: white;
  /* borderBlockColor: "#6EC89B" */
}

.navbar-nav .dropdown .dropdown-list {
  position: absolute;
  left: -120px !important;
}
.single-check-box {
  position: relative;
  left: 8px;
}
.stock-sizes {
  padding: 5px 10px;
  margin: 0 0 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100px;
}
.style-name-picker h4 {
  position: absolute;
  top: 10px;
  background: #0ea8ef;
  color: #fff;
  font-size: 10px;
  padding: 4px 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* chuki hy sjkaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
ksdjafh
aksdffffff */
table.dataTable thead {
  cursor: pointer;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}

div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
  margin-top: 1.2rem;
  margin-right: 1rem;
}

div.dataTables_wrapper
  div.dataTables_length.d-flex.flex-row
  .select-wrapper.mdb-select
  span,
div.dataTables_wrapper
  div.dataTables_length.d-flex.flex-row
  .select-wrapper.mdb-select
  .select-dropdown {
  margin-top: 1rem;
}

div.dataTables_wrapper div.dataTables_length label {
  text-align: left;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.dataTables_wrapper div.dataTables_filter label {
  text-align: left;
  font-weight: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input {
  width: auto;
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
div.dataTables_wrapper div.dataTables_filter select {
  width: auto;
}
div.dataTables_wrapper div.dataTables_filter input {
  width: auto;
  margin-left: 0.5rem;
  display: inline-block;
}

div.dataTables_wrapper div.dataTables_info {
  font-weight: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.dataTables_wrapper div.dataTables_paginate {
  font-weight: normal;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: right;
  margin: 0;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
div.dataTables_wrapper
  div.dataTables_paginate
  ul.pagination
  .page-item.active
  .page-link:focus {
  background-color: #4285f4;
}
div.dataTables_wrapper
  div.dataTables_paginate
  ul.pagination
  .page-item
  .page-link:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 767px) {
  div.dataTables_wrapper div .dataTables_length,
  div.dataTables_wrapper div .dataTables_filter,
  div.dataTables_wrapper div .dataTables_info,
  div.dataTables_wrapper div .dataTables_paginate ul.pagination {
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.bs-select select {
  display: inline-block !important;
}

table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting {
  padding-right: 30px;
}

table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.9em;
  display: block;
  opacity: 0.3;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "\f0de";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  font-size: 1rem;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "\f0dd";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  right: 16px;
  font-size: 1rem;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
  opacity: 1;
}

table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
  opacity: 0;
}

/*
 * MDBootstrap integration with Datatables
 * Learn more: https://mdbootstrap.com/docs/jquery/tables/datatables/
 * About MDBootstrap: https://mdbootstrap.com/
 *
 * This combined file was created taking that code from this webstie:

 *  https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css
 *
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs4/dt-1.10.18
 *
 * Included libraries:
 *   DataTables 1.10.18
 */

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #b0bed9;
}

table.dataTable.stripe tbody > tr.odd.selected,
table.dataTable.stripe tbody > tr.odd > .selected {
  background-color: #acbad4;
}

table.dataTable.display tbody > tr.odd.selected,
table.dataTable.display tbody > tr.odd > .selected {
  background-color: #acbad4;
}

table.dataTable.hover tbody > tr.selected:hover,
table.dataTable.hover tbody > tr > .selected:hover {
  background-color: #aab7d1;
}

table.dataTable.display tbody > tr.selected:hover,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #aab7d1;
}

table.dataTable.order-column tbody > tr.selected > .sorting_1,
table.dataTable.order-column tbody > tr.selected > .sorting_2,
table.dataTable.order-column tbody > tr.selected > .sorting_3 {
  background-color: #acbad5;
}

table.dataTable.order-column tbody > tr > .selected {
  background-color: #acbad5;
}

table.dataTable.display tbody > tr.selected > .sorting_1,
table.dataTable.display tbody > tr.selected > .sorting_2,
table.dataTable.display tbody > tr.selected > .sorting_3 {
  background-color: #acbad5;
}

table.dataTable.display tbody > tr > .selected {
  background-color: #acbad5;
}

table.dataTable.display tbody > tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

table.dataTable.display tbody > tr.odd.selected > .sorting_2,
table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}

table.dataTable.display tbody > tr.odd.selected > .sorting_3,
table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}

table.dataTable.display tbody > tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}

table.dataTable.display tbody > tr.even.selected > .sorting_2,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}

table.dataTable.display tbody > tr.even.selected > .sorting_3,
table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

table.dataTable.display tbody > tr.odd > .selected,
table.dataTable.order-column.stripe tbody > tr.odd > .selected {
  background-color: #a6b4cd;
}

table.dataTable.display tbody > tr.even > .selected,
table.dataTable.order-column.stripe tbody > tr.even > .selected {
  background-color: #acbad5;
}

table.dataTable.display tbody > tr.selected:hover > .sorting_1,
table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
  background-color: #a2aec7;
}

table.dataTable.display tbody > tr.selected:hover > .sorting_2,
table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
  background-color: #a3b0c9;
}

table.dataTable.display tbody > tr.selected:hover > .sorting_3,
table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
  background-color: #a5b2cb;
}

table.dataTable.display tbody > tr:hover > .selected,
table.dataTable.display tbody > tr > .selected:hover {
  background-color: #a2aec7;
}

table.dataTable.order-column.hover tbody > tr:hover > .selected,
table.dataTable.order-column.hover tbody > tr > .selected:hover {
  background-color: #a2aec7;
}

table.dataTable tbody td.select-checkbox,
table.dataTable tbody th.select-checkbox {
  position: relative;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody td.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
  content: " ";
  margin-top: 4px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  content: "\2714";
  margin-top: 0px;
  margin-left: -4px;
  text-align: center;
  text-shadow: 1px 1px #b0bed9, -1px -1px #b0bed9, 1px -1px #b0bed9,
    -1px 1px #b0bed9;
}

div.dataTables_wrapper span.select-info,
div.dataTables_wrapper span.select-item {
  margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
  div.dataTables_wrapper span.select-info,
  div.dataTables_wrapper span.select-item {
    margin-left: 0;
    display: block;
  }
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.masonry-with-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}
.masonry-with-columns div {
  flex: 1 0 auto;
  background: #00997b;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}
.masonry-with-columns div:nth-child(1) {
  height: 464px;
  line-height: 464px;
}
.masonry-with-columns div:nth-child(2) {
  height: 316px;
  line-height: 316px;
}
.masonry-with-columns div:nth-child(3) {
  height: 328px;
  line-height: 328px;
}
.masonry-with-columns div:nth-child(4) {
  height: 177px;
  line-height: 177px;
}
.masonry-with-columns div:nth-child(5) {
  height: 231px;
  line-height: 231px;
}
.masonry-with-columns div:nth-child(6) {
  height: 217px;
  line-height: 217px;
}
.masonry-with-columns div:nth-child(7) {
  height: 317px;
  line-height: 317px;
}
.masonry-with-columns div:nth-child(8) {
  height: 299px;
  line-height: 299px;
}
.masonry-with-columns div:nth-child(9) {
  height: 290px;
  line-height: 290px;
}
.masonry-with-columns div:nth-child(10) {
  height: 174px;
  line-height: 174px;
}
.masonry-with-columns div:nth-child(11) {
  height: 278px;
  line-height: 278px;
}
.masonry-with-columns div:nth-child(12) {
  height: 455px;
  line-height: 455px;
}
.masonry-with-columns div:nth-child(13) {
  height: 316px;
  line-height: 316px;
}
.masonry-with-columns div:nth-child(14) {
  height: 148px;
  line-height: 148px;
}
.masonry-with-columns div:nth-child(15) {
  height: 267px;
  line-height: 267px;
}
.masonry-with-columns div:nth-child(16) {
  height: 287px;
  line-height: 287px;
}
.masonry-with-columns div:nth-child(17) {
  height: 299px;
  line-height: 299px;
}
.masonry-with-columns div:nth-child(18) {
  height: 190px;
  line-height: 190px;
}
.masonry-with-columns div:nth-child(19) {
  height: 297px;
  line-height: 297px;
}
.masonry-with-columns div:nth-child(20) {
  height: 397px;
  line-height: 397px;
}
.masonry-with-columns div:nth-child(21) {
  height: 438px;
  line-height: 438px;
}
.masonry-with-columns div:nth-child(22) {
  height: 176px;
  line-height: 176px;
}
.masonry-with-columns div:nth-child(23) {
  height: 271px;
  line-height: 271px;
}
.masonry-with-columns div:nth-child(24) {
  height: 211px;
  line-height: 211px;
}
.masonry-with-columns div:nth-child(25) {
  height: 400px;
  line-height: 400px;
}
.masonry-with-columns div:nth-child(26) {
  height: 482px;
  line-height: 482px;
}
.masonry-with-columns div:nth-child(27) {
  height: 178px;
  line-height: 178px;
}
.masonry-with-columns div:nth-child(28) {
  height: 384px;
  line-height: 384px;
}
.masonry-with-columns div:nth-child(29) {
  height: 424px;
  line-height: 424px;
}
.masonry-with-columns div:nth-child(30) {
  height: 254px;
  line-height: 254px;
}
.masonry-with-columns div:nth-child(31) {
  height: 254px;
  line-height: 254px;
}
.masonry-with-columns div:nth-child(32) {
  height: 221px;
  line-height: 221px;
}
.masonry-with-columns div:nth-child(33) {
  height: 113px;
  line-height: 113px;
}
.masonry-with-columns div:nth-child(34) {
  height: 452px;
  line-height: 452px;
}
.masonry-with-columns div:nth-child(35) {
  height: 442px;
  line-height: 442px;
}
.masonry-with-columns div:nth-child(36) {
  height: 444px;
  line-height: 444px;
}

.masonry-with-columns-2 {
  display: flex;
  flex-wrap: wrap;
}
.masonry-with-columns-2 div {
  height: 150px;
  line-height: 150px;
  background: #9b1b30;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  flex: 1 0 auto;
}
.masonry-with-columns-2 div:nth-child(1) {
  width: 247px;
}
.masonry-with-columns-2 div:nth-child(2) {
  width: 433px;
}
.masonry-with-columns-2 div:nth-child(3) {
  width: 236px;
}
.masonry-with-columns-2 div:nth-child(4) {
  width: 296px;
}
.masonry-with-columns-2 div:nth-child(5) {
  width: 365px;
}
.masonry-with-columns-2 div:nth-child(6) {
  width: 459px;
}
.masonry-with-columns-2 div:nth-child(7) {
  width: 181px;
}
.masonry-with-columns-2 div:nth-child(8) {
  width: 273px;
}
.masonry-with-columns-2 div:nth-child(9) {
  width: 391px;
}
.masonry-with-columns-2 div:nth-child(10) {
  width: 186px;
}
.masonry-with-columns-2 div:nth-child(11) {
  width: 412px;
}
.masonry-with-columns-2 div:nth-child(12) {
  width: 469px;
}
.masonry-with-columns-2 div:nth-child(13) {
  width: 188px;
}
.masonry-with-columns-2 div:nth-child(14) {
  width: 86px;
}
.masonry-with-columns-2 div:nth-child(15) {
  width: 94px;
}
.masonry-with-columns-2 div:nth-child(16) {
  width: 116px;
}
.masonry-with-columns-2 div:nth-child(17) {
  width: 368px;
}
.masonry-with-columns-2 div:nth-child(18) {
  width: 313px;
}
.masonry-with-columns-2 div:nth-child(19) {
  width: 82px;
}
.masonry-with-columns-2 div:nth-child(20) {
  width: 378px;
}
.masonry-with-columns-2 div:nth-child(21) {
  width: 148px;
}
.masonry-with-columns-2 div:nth-child(22) {
  width: 96px;
}
.masonry-with-columns-2 div:nth-child(23) {
  width: 94px;
}
.masonry-with-columns-2 div:nth-child(24) {
  width: 466px;
}
.masonry-with-columns-2 div:nth-child(25) {
  width: 261px;
}
.masonry-with-columns-2 div:nth-child(26) {
  width: 304px;
}
.masonry-with-columns-2 div:nth-child(27) {
  width: 249px;
}
.masonry-with-columns-2 div:nth-child(28) {
  width: 203px;
}
.masonry-with-columns-2 div:nth-child(29) {
  width: 271px;
}
.masonry-with-columns-2 div:nth-child(30) {
  width: 454px;
}
.masonry-with-columns-2 div:nth-child(31) {
  width: 319px;
}
.masonry-with-columns-2 div:nth-child(32) {
  width: 176px;
}
.masonry-with-columns-2 div:nth-child(33) {
  width: 305px;
}
.masonry-with-columns-2 div:nth-child(34) {
  width: 346px;
}
.masonry-with-columns-2 div:nth-child(35) {
  width: 189px;
}
.masonry-with-columns-2 div:nth-child(36) {
  width: 109px;
}

.masonry-with-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}
.masonry-with-flex div {
  width: auto;
  margin: 0 1rem 1rem 0;
}
.masonry-with-flex div:nth-child(1) {
  height: 493px;
  line-height: 493px;
}
.masonry-with-flex div:nth-child(2) {
  height: 457px;
  line-height: 457px;
}
.masonry-with-flex div:nth-child(3) {
  height: 315px;
  line-height: 315px;
}
.masonry-with-flex div:nth-child(4) {
  height: 448px;
  line-height: 448px;
}
.masonry-with-flex div:nth-child(5) {
  height: 499px;
  line-height: 499px;
}
.masonry-with-flex div:nth-child(6) {
  height: 206px;
  line-height: 206px;
}
.masonry-with-flex div:nth-child(7) {
  height: 302px;
  line-height: 302px;
}
.masonry-with-flex div:nth-child(8) {
  height: 374px;
  line-height: 374px;
}
.masonry-with-flex div:nth-child(9) {
  height: 202px;
  line-height: 202px;
}
.masonry-with-flex div:nth-child(10) {
  height: 260px;
  line-height: 260px;
}
.masonry-with-flex div:nth-child(11) {
  height: 399px;
  line-height: 399px;
}
.masonry-with-flex div:nth-child(12) {
  height: 117px;
  line-height: 117px;
}
.masonry-with-flex div:nth-child(13) {
  height: 247px;
  line-height: 247px;
}
.masonry-with-flex div:nth-child(14) {
  height: 154px;
  line-height: 154px;
}
.masonry-with-flex div:nth-child(15) {
  height: 297px;
  line-height: 297px;
}
.masonry-with-flex div:nth-child(16) {
  height: 479px;
  line-height: 479px;
}
.masonry-with-flex div:nth-child(17) {
  height: 482px;
  line-height: 482px;
}
.masonry-with-flex div:nth-child(18) {
  height: 257px;
  line-height: 257px;
}
.masonry-with-flex div:nth-child(19) {
  height: 147px;
  line-height: 147px;
}
.masonry-with-flex div:nth-child(20) {
  height: 346px;
  line-height: 346px;
}
.masonry-with-flex div:nth-child(21) {
  height: 209px;
  line-height: 209px;
}
.masonry-with-flex div:nth-child(22) {
  height: 449px;
  line-height: 449px;
}
.masonry-with-flex div:nth-child(23) {
  height: 490px;
  line-height: 490px;
}
.masonry-with-flex div:nth-child(24) {
  height: 317px;
  line-height: 317px;
}
.masonry-with-flex div:nth-child(25) {
  height: 268px;
  line-height: 268px;
}
.masonry-with-flex div:nth-child(26) {
  height: 134px;
  line-height: 134px;
}
.masonry-with-flex div:nth-child(27) {
  height: 440px;
  line-height: 440px;
}
.masonry-with-flex div:nth-child(28) {
  height: 402px;
  line-height: 402px;
}
.masonry-with-flex div:nth-child(29) {
  height: 359px;
  line-height: 359px;
}
.masonry-with-flex div:nth-child(30) {
  height: 323px;
  line-height: 323px;
}
.masonry-with-flex div:nth-child(31) {
  height: 281px;
  line-height: 281px;
}
.masonry-with-flex div:nth-child(32) {
  height: 325px;
  line-height: 325px;
}
.masonry-with-flex div:nth-child(33) {
  height: 442px;
  line-height: 442px;
}
.masonry-with-flex div:nth-child(34) {
  height: 315px;
  line-height: 315px;
}
.masonry-with-flex div:nth-child(35) {
  height: 103px;
  line-height: 103px;
}
.masonry-with-flex div:nth-child(36) {
  height: 456px;
  line-height: 456px;
}

.out-div {
  width: 100%;

  height: 50px;
  display: flex;
  margin-bottom: 10px;
}

.inpt {
  height: 100%;
  border: 2px solid black;
  width: 90%;
}

.icon1 {
  width: 10%;
  display: inline-block;
  background-color: #00997b;
  height: 100%;
}
